.sectionLink {
  border: transparent 1px solid;
  color: #7401DF;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;  
}

.mainVLayout {
   /*
   min-height: 100%;
   min-width:  100%;
   background: #EFFFFF;
   */
 
}

.listgridField {
  border: transparent 1px solid;
  background: #EFFBFB;
  color: #7401DF;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: inherit;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;

}

.headerStyle{
    background: #6cf;
}
.dashboardListGrid {
  border: 2px outset #286ea0;
  /*
  background: #EFFBFB;
  color: #7401DF;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: inherit;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
  */
}

.dashboardForm {
  border: 2px outset #286ea0;
  /*
  background: #EFFBFB;
  color: #7401DF;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: inherit;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
  */
}

.labels {
  border: transparent 1px solid;
  background: #EFFBFB;
  color: #243B0B;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding-left: 4px;
  padding-right: 4px;
  
}

.userOrganizationHeaderFormItemTitle {
  font-weight: lighter;
  font-weight: bold;
}

.userOrganizationHeaderFormItem {
  border: 2px outset #286ea0;
  
  color: #243B0B;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: inherit;
  font-weight: bold;
  padding-left: 4px;
  padding-right: 4px;
}
